<app-header-nav></app-header-nav><!--header-nav içerisinde tanımladığımız headerı main-layotun içinde göstermek için buraya ekledik-->

<div class="container" style="margin-bottom: 50px;">
  <div class="row mt-4">
    <div class="col-md-8"><!--Sayfada pages nesnelerinin geleceği kısım-->
      <router-outlet></router-outlet><!--routing yapısı çalışsın diye ekledik-->
    </div>
    <div class="col-md-4 "><!--Sayfada navigations nesnelerinin geleceği kısım-->
<app-menu-category></app-menu-category>
<app-menu-article-most-view></app-menu-article-most-view>
    </div>
  </div>
</div>

<app-footer-nav></app-footer-nav><!--Footer-->
